
/* ================ */
/* Global */
/* ================ */

body {
    margin: 0;
    padding: 0;  
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: regular;
    color: #000000;
    text-transform: uppercase;    
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================ */
/* header */
/* ================ */

.main-navigation {
    font-weight: bold;
}

.main-navigation a {
    text-decoration: none;
    color: #000000;
}

.main-navigation li {
    list-style: none;
}

.site-navigation .navigation-item:hover {
    color: #81b3d2;
}

.site-navigation .navigation-item:active {
    color: #b2b2b2;
}
  
/* ================ */
/* footer */
/* ================ */

.main-footer a {
    text-decoration: none;
    color: #000000;
}

.contacts {
    font-size: 21px;
    font-weight: bold;
}

.socmedia-list li {
    list-style: none;
}

/* ================ */
/* index main */
/* ================ */

.intro {
    width: 1200px;
    height: 528px;
    background: 
        url(../img/intro-mask.svg) no-repeat 50% 100%,
        #81b3d2 url("../img/intro-background.jpg") no-repeat 50% 50%;
}
    
.description {
    text-align: center;
}

.box-blue {
    color: #ffffff;
    background-color: #81b3d2;    
}

.description-intro p {
    color: #333333;
}

.description h2 {
    font-size: 21px;
    font-weight: bold;
}

.description h3 {
    font-size: 21px;
    font-weight: bold;
}

.features-list {
    list-style: none;
}

.feature-item {
    width: 400px;
    height: 256px;
}

.features-list p {
    color: #333333;
}

.bg-grey li {
    background-color: #eeeeee;
}

.offer p {
    color: #333333;
}

.selection label{
    font-weight: bold;
}

.selection input {
    background-color: #f2f2f2;
}

.selection input:hover {
    background-color: #ebebeb;
}
.selection input:focus {
    background-color: #ffffff;
}

.offer .button {
    font: inherit;
  
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    border: none;
}

.offer .btn-form {
    background-color:#766357;
}

.offer .btn-form:hover {
    background-color: #604e43;
}

.offer .btn-form:active {
    color: #857871;
    background-color: #503e33;
}

.offer .btn-submit {
    background-color:#81b3d2;
}

.offer .btn-submit:hover {
    background-color: #669ec0;
}

.offer .btn-submit:active {
    color: #88b6d1;
    background-color: #5496bd;
}

/* ================ */
/* catalog main */
/* ================ */

.filter {
    width: 100%;
    color: #ffffff;
    background: #81b3d2 url("../img/background-filter.jpg") no-repeat 50% 50%;
}

.filter-form legend {
    font-size: 16px;
    font-weight: bold;
}

.filter-form li{
    list-style: none;
}

.filter-form .btn-filter {
    font: inherit;
    
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background: none;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.hotels-filter .filter-result {
    font-size: 21px;
    font-weight: bold;
}

.hotels-filter li {
    font-size: 10.5px;
    list-style: none;
    color: #81b3d2;
}

.hotels-filter .sort-lable {
    font-size: 10.5px;
}

.hotels-list li {
    list-style: none;
}

.sort-list a {
    text-decoration: none;
    color: #0000004c;
    border-bottom: 1px dotted #81b3d2;
}

.hotels-list h3 {
    font-size: 21px;
    font-weight: bold;
}

.hotels-item .hotels-type {
    color: #333333;
}

.hotels-item .hotels-cost {
    color: #333333;
}

.hotels-item .ref-details {
    width: 110px;
    height: 27px;

    text-decoration: none;
    color: #ffffff;    
    font-weight: bold;
    background-color: #81b3d2;
}

.hotels-item .ref-details:hover {
    background-color: #669ec0;
}

.hotels-item .ref-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotels-item .ref-book {
    width: 142px;
    height: 27px;

    text-decoration: none;
    color: #ffffff;    
    font-weight: bold;
    background-color: #766357;
}

.hotels-item .ref-book:hover {
    background-color: #604e43;
}

.hotels-item .ref-book:active {
    color: #857871;
    background-color: #503e33;
}

.rating {
    width: 1200px;
    height: 966px;
    
    color: #666666;    
    background-color: #f2f2f2;
}