
/* ================ */
/* Global */
/* ================ */
html {
    width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;  
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: regular;
    color: #000000;
    text-transform: uppercase;    
    background-color: #ffffff;
}

button:hover {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================ */
/* header */
/* ================ */

.site-navigation {
    display: flex;
}

.site-navigation li {
    min-width: 239px;
    min-height: 56px;
}

.main-navigation {
    position: relative;
}

/* Как поместить логотип в центр? */
.img-logo {
    position: absolute;
    left: 529px;
}

.main-navigation a {
    text-decoration: none;
    color: #000000;
}

.main-navigation li {
    list-style: none;
    font-weight: bold;
}

.main-navigation li:nth-child(3)
{
    margin-left: 244px;
}

.site-navigation .selected {
    color: #766357;
}

.site-navigation .navigation-item:hover {
    color: #81b3d2;
}

.site-navigation .navigation-item:active {
    color: #b2b2b2;
}
  
/* ================ */
/* footer */
/* ================ */

.main-footer {
    min-height: 120px;

    box-sizing: border-box;
    display: flex;
}

.main-footer a {
    text-decoration: none;
    color: #000000;
}

.contacts {
    font-size: 21px;
    font-weight: bold;

    padding-left: 132px;
    padding-top: 36px;
}

.contacts a {
    display: block;
    margin-bottom: 16px;
}

.socmedia-list {
    width: 150px;
    box-sizing: border-box;

    margin-left: 169px;
    padding-top: 36px;
    display: flex;
    justify-content:space-between
}

.socmedia-list li {
    width: 46px;
    height: 48px;
    list-style: none;
    background-color: #81b3d2;
}

.socmedia-list .twitter{
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 16px;
}

.socmedia-list .facebook{
    width: 12px;
    height: 22px;

    padding-top: 17px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 17px;
}

.socmedia-list .youtube{
    width: 20px;
    height: 16px;

    padding-top: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 16px;
}

.html-academy {
    min-height: 41px;
    width: 200px;
    vertical-align: middle;

    margin-left: 228px;
    padding-top: 39px;
}

.html-academy svg:hover {
    fill: #81b3d2;
}

.html-academy svg:active {
    fill: #bdbbbc;
}

/* ================ */
/* index main */
/* ================ */

.intro {
    width: 1200px;
    height: 528px;
    background: 
        url(../img/intro-mask.svg) no-repeat 50% calc(100% + 2px),
        #594E42 url("../img/intro-background.jpg") no-repeat 50% 30%;
}

.intro-text {
    padding-top: 76px;
    padding-left: 370px;
}

.description {
    box-sizing: border-box;
}

.double-items {
    display: flex;
    
    color: #ffffff;
    background-color: #81b3d2;    
}

.double-item {
    width: 400px;
    height: 256px;
    box-sizing: border-box;
    
    text-align: center;
    padding-top: 46px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px;
}

.description-intro {
    width: 1200px;
    min-height: 216px;
    
    text-align: center;
}

.description-intro h2 {
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 38px;
    padding-right: 380px;
    padding-left: 380px;
}

.description-intro p {
    margin: 0 auto;
    color: #333333;

    padding-right: 355px;
    padding-left: 355px;
    padding-bottom: 56px;
}

.description h2 {
    font-size: 21px;
    font-weight: bold;
}

.description h3 {
    font-size: 21px;
    font-weight: bold;
}

.second-row {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.second-row li{
    width: 400px;
    min-height: 330px;
    box-sizing: border-box;
    
    text-align: center;
    padding-top: 60px;
    padding-bottom: 86px;
}

.second-item-1 {
    padding-left: 73px;
    padding-right: 75px;
}

.second-item-2 {
    padding-left: 58px;
    padding-right: 58px;
}

.second-item-3 {
    padding-left: 64px;
    padding-right: 63px;
}

.features-list p {
    color: #333333;
}

.fourth-row {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.fourth-row li{
    width: 400px;
    min-height: 256px;
    box-sizing: border-box;
    background-color: #eeeeee;
    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 63px;
}

.fourth-item-1 {
    padding-left: 95px;
    padding-right: 97px;
}

.fourth-item-2 {
    padding-left: 69px;
    padding-right: 69px;
}

.fourth-item-3 {
    padding-left: 77px;
    padding-right: 77px;
}

.offer {
    min-height: 291px;
    text-align: center;
}

.offer p {
    color: #333333;
}

.selection {
    width: 568px;
    height: 395px;
    margin: 0 auto;
    box-sizing: border-box;
/* 
    padding-left: 55px;
    padding-top: 55px;
    padding-right: 55px;
    padding-bottom: 55px; */
}

.selection-form {
    display: flex;
    flex-wrap: wrap;
}

.selection-form label{
    font-weight: bold;
}

.selection-form  .date-in {
    padding-left: 55px;
    padding-top: 69px;
    vertical-align: center;
}

.selection-form .date-input-in {
    width: 346px;
    height: 38px;
    margin-bottom: 30px;
}

.selection-form .date-input-out {
    width: 346px;
    height: 38px;
    margin-left: 17px;
    margin-bottom: 30px;
}



.selection-form .date-in {
    padding-right: 21px;
}

.selection-form .date-our {
    margin-right: 17px;
}

.selection input {
    background-color: #f2f2f2;
}

.selection input:hover {
    background-color: #ebebeb;
}
.selection input:focus {
    background-color: #ffffff;
}

.offer .button {
    font: inherit;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    width: 568px;
    height: 86px;
    margin: 0;
    padding: 0;
    border: none;
}

.offer .btn-form {
    background-color:#766357;
}

.offer .btn-form:hover {
    background-color: #604e43;
}

.offer .btn-form:active {
    color: #857871;
    background-color: #503e33;
}

.offer .btn-submit {
    background-color:#81b3d2;
    width: 458px;
    height: 58px;

}

.offer .btn-submit:hover {
    background-color: #669ec0;
}

.offer .btn-submit:active {
    color: #88b6d1;
    background-color: #5496bd;
}

/* ================ */
/* catalog main */
/* ================ */

.filter {
    height: 217px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #81b3d2 url("../img/background-filter.jpg") no-repeat 50% 50%;
}

.filter-form {
    box-sizing: border-box;
    display: flex;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;

    padding-left: 72px;
    padding-top: 31px;
    border: 0 none;    
}


.filter-form .cost {
    margin-left: 366px;
}

.filter-form legend {
    font-size: 16px;
    padding-top: 31px;
    font-weight: bold;
}

.filter-form ul {
    padding: 0;
    margin: 0;
}

.filter-form li{
    list-style: none;
    text-align: left;
}

.filter-form .btn-filter {
    font: inherit;
    
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background: none;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.hotels-filter li {
    font-size: 10.5px;
    list-style: none;
    color: #81b3d2;
}

.hotels-list li {
    list-style: none;
}

.filter-form fieldset:nth-child(3) {
    margin-left: 388px;
}

.hotels {
    box-sizing: border-box;
}

.hotels-filter {
    min-height: 86px;
    display: flex;
}


.hotels-filter .hotels-container {
    width: 520px;
    margin: 0;
    padding: 0;
    padding-top: 31px;
    box-sizing: border-box;
    display: flex;
}


.hotels-filter h3 {
    margin: 0;
    min-width: 151px;
    padding-left: 72px;
    
    font-size: 21px;
    font-weight: bold;
}

.hotels-filter p{
    margin: 0;
    margin-left: 49px;
    font-size: 10.5px;
}

.sort-list a {
    text-decoration: none;
    color: #0000004c;
    border-bottom: 1px dotted #0000004c;
}

.sort-list .selected {
    color: #81b3d2;
    border-bottom: none;
}

.sort-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:active {
    color: #000000;
    border-bottom: none;
}

.hotels-filter .sort-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-left: 40px;
    min-width: 240px;
    justify-content: space-between;
}

.hotels-list {
    margin: 0;
    padding: 0;
}

.hotels-list li {
    min-height: 151px;
    border-top: 1px solid #b2b2b2;
    padding-top: 30px;
    box-sizing: border-box;

    display: flex;
}

.hotels-list li:last-of-type {
    border-bottom: 1px solid #b2b2b2;
}

.hotels-list img {
    padding-left: 72px;
    padding-right: 30px;
}

.container-info {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 258px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container-info .hotels-cost {
    margin-left: 49px;
}

.container-info .ref-book {
    margin-left: 6px;
}

.container-info h3 {
    font-size: 21px;
    margin: 0;
    width: 258px;
    font-weight: bold;
}

.hotels-item .container-rating {
    width: 111px;
    height: 91px;
    margin-left: auto;
    padding-right: 72px;
    position: relative;
}

.container-rating .rating {
    width: 110px;
    height: 27px;
    padding-right: 1px;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;

    color: #666666;    
    background-color: #f2f2f2;
}

.hotels-item .hotels-type {
    color: #333333;
}

.hotels-item .hotels-cost {
    color: #333333;
}

.hotels-item .ref-details {
    width: 110px;
    height: 27px;

    text-decoration: none;
    color: #ffffff; 
    text-align: center;   
    font-weight: bold;
    background-color: #81b3d2;
    
}

.hotels-item .ref-details:hover {
    background-color: #669ec0;
}

.hotels-item .ref-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotels-item .ref-book {
    width: 142px;
    height: 27px;

    text-decoration: none;
    color: #ffffff;  
    text-align: center;  
    font-weight: bold;
    background-color: #766357;
}

.hotels-item .ref-book:hover {
    background-color: #604e43;
}

.hotels-item .ref-book:active {
    color: #857871;
    background-color: #503e33;
}

